In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

df = pd.read_csv("C:/Users/bikek/data_analysis projects/EpiClim_public_health_district_level_analysis/data/Final_data.csv")
# df.columns
# df['week_of_outbreak'] = pd.to_datetime(df['week_of_outbreak'],errors='coerce')
df['Deaths'] = df['Deaths'].fillna(0)
df['LAI'] = df['LAI'].fillna(df['LAI'].mode()[0])
df['Temp'] = df['Temp'].fillna(df['Temp'].mode()[0])
df['preci']=df['preci'].fillna(df['preci'].mode()[0])
df['week_of_outbreak'] = df['week_of_outbreak'].ffill()
df['Cases'] = df['Cases'].fillna(0)
num_columns = ['Cases','Deaths','preci','LAI','Temp']
for col in num_columns:
    df[col] = pd.to_numeric(df[col],errors='coerce')

df = df.drop(columns='Unnamed: 0',errors='ignore')

df['state_ut'] = df['state_ut'].str.strip().str.title()
df['district'] = df['district'].str.strip().str.title()
df['Disease'] = df['Disease'].str.strip().str.title()

In [7]:
df.head()

,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,day,mon,year,Latitude,Longitude,preci,LAI,Temp
0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160.0,0.0,2,1,2022,25.251576,92.484050,0.020354,34.5,291.533333
1,2nd week,Maharashtra,Gadchiroli,Malaria,7.0,2.0,10,1,2022,19.759070,80.162281,0.007479,9.0,299.970000
2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8.0,0.0,18,1,2022,10.382651,78.819126,0.107413,12.0,300.766667
3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7.0,0.0,11,1,2022,23.774057,71.683735,0.065094,9.0,299.080000
4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14.0,0.0,24,12,2021,9.984080,76.274146,0.041256,33.0,303.028000

In [8]:
df.isna().sum().sort_values(ascending=False)

Cases               1
week_of_outbreak    0
state_ut            0
district            0
Disease             0
Deaths              0
day                 0
mon                 0
year                0
Latitude            0
Longitude           0
preci               0
LAI                 0
Temp                0
dtype: int64

In [9]:
df['week_no'] = df['week_of_outbreak'].str.extract(r'(\d+)').astype(int)

In [10]:
df['week_start'] = pd.to_datetime(df['year'].astype(str) + df['week_no'].astype(str)+'1',format='%G%V%u')

In [11]:
df.head()

,week_of_outbreak,state_ut,district,Disease,Cases,Deaths,day,mon,year,Latitude,Longitude,preci,LAI,Temp,week_no,week_start
0,1st week,Meghalaya,East Jaintia Hills,Acute Diarrhoeal Disease,160.0,0.0,2,1,2022,25.251576,92.484050,0.020354,34.5,291.533333,1,2022-01-03
1,2nd week,Maharashtra,Gadchiroli,Malaria,7.0,2.0,10,1,2022,19.759070,80.162281,0.007479,9.0,299.970000,2,2022-01-10
2,3rd week,Tamil Nadu,Pudukottai,Acute Diarrhoeal Disease,8.0,0.0,18,1,2022,10.382651,78.819126,0.107413,12.0,300.766667,3,2022-01-17
3,3rd week,Gujarat,Patan,Acute Diarrhoeal Disease,7.0,0.0,11,1,2022,23.774057,71.683735,0.065094,9.0,299.080000,3,2022-01-17
4,3rd week,Kerala,Ernakulam,Acute Diarrhoeal Disease,14.0,0.0,24,12,2021,9.984080,76.274146,0.041256,33.0,303.028000,3,2021-01-18

In [12]:
df.to_csv("C:/Users/bikek/data_analysis projects/EpiClim_public_health_district_level_analysis/data/Cleaned_epiclim_data.csv")